# This is a default config file for the macdetectd daemon.

[server]
serve="lo:7090", "wlan0:7090"
keepalive-interval=1.0
name="Test Server"

[network]
list-mode=whitelist
allowed-devices="(wlan)(.*)", "(wifi)(.*)", "(eth)(.*)", "(en)(.*)"
mac-max-age=300.0	      # The maximum age of a MAC before it gets deleted
update-interval=10.0	      # Interval in which a MAC address is updated
ping-broadcast-interval=10.0  # Interval in which ping request are broadcast
